

.about-container {
  display: flex;
  align-items: start;
  text-align: center;
  gap: 50px;
  margin-top: 8em;
  // margin-left: 300px;
}


// .about-text, .skills {
//   flex: 1; 
// }

.about-text {
  max-width: 500px;
  margin-top: 8em;
  margin-right: 8em;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: start;
    align-content: center;
    flex-wrap: wrap;
}

.js1, .css1, .html1, .python1, .django1, .postgreSQL1, .react1, .sass1, .bootstrap1, .node1, .heroku,  .git {
  width: 25px;
  margin: 0 5px 20px 0;
}

.mongoDB1 {
  width: 25px;
  margin: 0 1px 20px 0;
}

.express1, .npm {
  width: 30px;
  margin: 0 5px 20px 0;
}

.skills {
  padding: 20px;
  margin: 1em;
}

.group-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.single-skill {
  margin: 15px;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.skills-title {
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.skills-p {
  font-size: 12px;
}

div.container {
  display: flex;
  margin: 20px 80px 0 150px;
  align-items: start;

}

.about-me {
  text-align: start;
  margin: 5em;
}

.things-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  text-align: start;
  align-items: start;
  padding-left: 5px;
}