
div.container {
  margin: 5em 5em 5em 15em;
  display: flex;
  align-items: start;
}

.about-container {
  display: flex;
  align-items: start;
  text-align: center;
  gap: 50px;
  margin-top: 8em;
  
  // margin-left: 300px;
}


// .about-text, .skills {
//   flex: 1; 
// }

.about-text {
  max-width: 500px;
  margin-top: 8em;
  margin-right: 8em;
    padding: 20px;
    // display: flex;
    // align-items: center;
    text-align: start;
    // align-content: center;
    // flex-wrap: wrap;
}

.js1, .css1, .html1, .python1, .django1, .postgreSQL1, .react1, .sass1, .bootstrap1, .node1, .heroku, .git, .chakra, .npm, .netlify{
  width: 25px;
  margin: 0 5px 20px 0;
}

.postgreSQL1{
  width: 24px;
}

.mongoDB1 {
  width: 25px;
  margin: 0 1px 20px 0;
}

.express1, .npm {
  width: 30px;
  margin: 0 4px 17px 0;
}

.skills {
  padding: 20px;
  margin: 1em;
}

.group-skill {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.single-skill {
  margin: 15px;
  align-items: center;
  text-align: center;
  padding: 10px;
  
}

.skills-title {
  justify-content: center;
}

.skills-p {
  font-size: 12px;
}


.about-me {
  text-align: start;
  margin: 5em;
  margin-left: 5em;
  width: 100%;
}

.things-text{
  margin: 0;
  text-align: start;
  align-items: start;
  padding: 5px;
  font-size: 20px;
}


.things-container {
  display: flex;
  align-items: start;
  text-align: center;
  gap: 50px;
  margin: 5em 5em 5em 11em;
}
.things-card {
  margin-left: 5em;
  margin-right: 5em;
  display: flex;
width: 50%;
}



.sunset-img {
  width: 60%;
  justify-content: center;
  height: auto;
  margin: 2em;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.things-card, .about-img {
  flex: 1; 
}

.image-section {
  width: 100%;
  margin: 1em 8em 3em 0;
}

@media only screen and (max-width: 1500px) {
  div.container {
    margin: 5em;
  }

  .image-section {
    margin-right: 1em 6em 0 0;
  }
  .sunset-img {
    width: 65%;
    padding-top: 30px; 
  }
  .about-container{
    gap: 0;
    width: fit-content;
  }

.things-container{
  margin: 2em;
}
}

@media only screen and (max-width: 1400px) {
  div.container {
    margin: 5em 0 5em 2em;
  }
  .about-text{
    margin-right: 1em;
    margin-top: 6em;
    max-width: 400px;
  }
  .about-container{
    gap: 50px;
    }
      .about-me {
    margin-left: 2em;
    
  }
}

@media only screen and (max-width: 1200px) {
  .about-container{
    gap: 0;
    margin-top: 6em;
    }
  .sunset-img {
    width: 100%;
    padding-top: 50px; 
    }  
}

@media only screen and (max-width: 993px) {
  .about-container {
    flex-direction: column;
    width: 100%;
    gap: 30px;
    align-items: center;
    
  }
  .about-text, .skills {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
  .about-text{
  max-width: fit-content;
  }
  .things-container {
    gap: 0;
  }

}

@media only screen and (max-width: 750px) {
  div.container {
  width: 100%;
  margin: 0 auto;
  }
.single-skill{
  margin: 5px;
  padding: 5px;
}
.about-text {
  padding-top: 3em;
}
}

@media only screen and (max-width: 750px) {
  .things-container{
    flex-direction: column;
    width: 100%;
    gap: 0;
    align-items: center;
    margin: 0 auto;
  }

  .about-me {
    margin: 0 auto;
    padding-left: 30px;
    padding-top: 30px;
  }

  .image-section {
    width: 60%;
    margin: 0 auto;
  }

  .sunset-img {
    padding-top: 0;
    padding-bottom: 30px;
  }
}