.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px; /* Adjust the width as needed */
}

input, .textarea, .btn {
  margin-bottom: 20px; /* Space between form elements */
  padding: 10px; /* Padding inside the input fields */
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px; /* Rounded corners */
}

.textarea {
  height: 100px; /* Adjust height for the textarea */
  resize: vertical; /* Allow vertical resize only */
}

.btn {
  background-color: #4CAF50; /* Button background color */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049; /* Button hover state color */
}

.danger {
  text-align: center;
}
