.home-img {
  width: 50%;
  border-radius: 155px;
}

.home-card {
  background-color: aqua;
  margin: 6em; 
}

.css-su8rbt, .chakra-stack {
  margin: 50px;
}

// .home-cardBody {
//   display: flex;
//   align-content: center;
//   flex-wrap: wrap;
//   text-align: center;
// }

