.home-img {
  width: 50%;
  border-radius: 155px;
  margin: 70px 20px 20px 10px;
}

.home-card {
  margin: 6em; 
}

.home-div {
  height: 500px;
  background-color: #6D2E46;
}
.home-cardBody {
  color:  rgb(222, 215, 209);
}
.stack-text {
  text-align: center;
  align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
}



@media only screen and (max-width: 1060px) {
  .home-div {
    height: 400px;
  }
}

@media only screen and (max-width: 1060px) {
  .home-img {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .home-img {
    width: 65%;
  }
  .home-div {
    height: 350px;
  }
}

@media only screen and (max-width: 500px) {
  .home-card{
    flex-direction: column-reverse;
  }
  .home-img {
    width: 60%;
    margin: 20px;
  }
  .home-div {
    height: 400px;
  }

  .stack-text{
    margin-top: 4em;
  }
}

@media only screen and (max-width: 500px) {
  .home-img {
    width: 70%;
  }
}

