
.snake-img {
  width: 80%;
  height: 350px;
}

.p4-card, .p3-card , .p2-card {
  margin: 10em 10em 15em 10em;
    background-color: #dfcfc299;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}


.travelistik-img, .galaxy-img, .legends-img {
  width: 500px;
  height: 50%;
  object-fit: contain;
  padding: 5px;
}

.galaxy-img {
  width: 450px;
  height: 50%;
  object-fit: contain;
  padding: 5px;
}

.image-box {
  margin: 50px 50px 50px 0;
  padding: 20px;
  background-color: #d2caca;
}

.image-box2 {
  margin: 50px 0 50px 50px;
  padding: 20px;
  background-color: #d2caca;
}

.p4-stack, .p2-stack {
  background-color: #bcb4b4;
  padding: 50px;
  width: 50%;
  margin: 0 0 0 3em;
}

.p3-stack {
  background-color: #bcb4b4;
  padding: 50px;
  width: 50%;
  margin: 0 3em 0 0;
}

.fa-xl {
  padding: 20px 40px 0 20px;
  cursor: pointer;
}

.fa-xl:hover {
  color: #6D2E46;
}


.project4, .project2, .project3, .project1 {
  background-color: #f3efeb;
  padding: 40px;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,19);
}


.heading, .project-text {
  margin-top: 2em;
  font-weight: 500;
}

.js, .css, .html, .python, .django, .postgreSQL, .react, .sass, .bootstrap, .node {
  width: 25px;
  margin: 0 5px 20px 0;
}

.mongoDB {
  width: 25px;
  margin: 0 1px 20px 0;
}

.express {
  width: 30px;
  margin: 0 5px 20px 0;
}


.project-tooltip {
  font-size: 13px;
  font-style: italic;
}

.skills-tooltip {
  font-size: 10px;
  color: #A89D9D;
  font-weight: bold;
  cursor: pointer;
}

#projects {
  margin-bottom: 7em;
}

@media (max-width: 768px) {
  .p1-card {
    flex-direction: column;
  }
  .image-box1, .p1-stack {
    width: 100%;
  }
}


.image-box1 {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 2em;
  padding: 20px;
  background-color: #d2caca; 
}

.p1-card {
  margin: 10em;
  background-color: #dfcfc299;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.p1-stack {
  background-color: #bcb4b4;
  padding: 50px;
  width: 50%;
  margin: 2em 2em 2em 0;
  
}
