
/* Carousel styles */
.carousel {
  width: 90%; 
  height: 500px;
  margin: 2em auto;
  position: relative;
  overflow: hidden; 
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.project-card {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #d2caca;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 2em;
}

.description{
  width: 50%;
  padding: 0 2em 2em 0.5em;
}

p.chakra-text.project-description {
  text-align: justify;
}

.awayfrom-page, .project-gh{
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.awayfrom-page:hover, .project-gh:hover{
  font-size: 22px;
  color: #6D2E46;
}


.carousel-nav-button{
  color: #4a4a4a;
  width: 50px;
  border: none;
  font-size: 25px;
}

.carousel-nav-button:hover{
  color: #6D2E46;
  
}

.project-cardbody{
  height: 420px;
  background-color: #f3efeb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.image-box {
  width: 50%;
  height: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.5s ease-in-out;
}


.image-box img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.skills-icons{
  color: #A89D9D;
}


.heading, .project-text {
  margin-top: 2em;
  font-weight: 500;
}

.p-project-text {
  margin: 1em 5em 3em 5em;
}


.js,  .python, .react, .sass, .bootstrap {
  width: 25px;
  margin: 0 5px 20px 0;
}

.express, .mongoDB, .django, .postgreSQL{
  width: 19px;
  margin: 0 6px 40px 0;
}

.node, .html, .css{
  width: 18px;
  margin: 0 6px 44px 0;
}

.django, .postgreSQL{
  padding-right: 2px;
}

.project-tooltip {
  font-size: 13px;
  font-style: italic;
}

.skills-tooltip {
  font-size: 10px;
  color: #A89D9D;
  font-weight: bold;
  cursor: pointer;
}
@media only screen and (max-width: 1180px) {
  .carousel{
    height: 600px;
  }
  .heading{
    margin-top: 1em;
  }
  .project-cardbody{
    height: 500px;
  }
}

@media only screen and (max-width: 968px){
  .carousel{
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  .project-cardbody{
    flex-direction: column-reverse;
    height: 600px;
  }
  div.image-box{
    width: 70%;
    height: 200px;
  }
  .description{
    width: 100%;
    padding: 10px;
  }
  .p-project-text {
    margin: 1em 3em 3em;
  }

}

@media only screen and (max-width: 550px) {
  .carousel{
    width: 100%;
  }
  .heading{
    font-size: 20px;
    margin-top: 1em;
  }
  div.image-box{
    width: 90%;
    margin: 0;
    padding: 0;
    height: 120px;
    margin-bottom: 10px;
  }
  .p-project-text {
    margin: 1em 2em 2em;
    text-align: justify;
  }

  .django, .postgreSQL, .html, .css{
    width: 14px;
    margin-right: 10px;
  }
  .mongoDB, .express, .node{
    width: 17px;
    margin-right: 9px;
  }
}

